@using MeowLearn.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager;

@{
    ViewData["Title"] = "Home Page";
}

@if(SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to MeowLearn!</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Please log in to access MeowLearn.</h1>
    </div>
}

@*Login modal with partial class*@
<div class="modal fade" id="UserLoginModal" tabindex="-1" role="dialog" aria-labelledby="UserLoginModalLabel" aria-hidden="true">
    <partial name="_UserLoginPartial" />
</div>

@*Registration modal with partial class*@
<div class="modal fade" name="UserRegistrationModal" id="UserRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="UserRegistrationModal" aria-hidden="true">
    <partial name="_UserRegistrationPartial" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_AuthScriptsPartial");
    }
}