@model IEnumerable<MeowLearn.Entities.Category>

@*Hero Section*@
@*<div class="hero section">
    <img src="~/Images/HeroImage.jpeg" class="img-fluid" />
    <div class="hero-heading">
        <h2>Learn fast and quick!</h2>
        <a id="HeroRegisterButton" class="btn btn-outline-info btn-lg text-light hero-register-button">Register now</a>
    </div>
</div>*@

<div class="container hero col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7">
        <img src="~/Images/HeroImage.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="700" height="500">
      </div>
      <div class="col-lg-5 hero-heading">
        <h1 class="display-5 fw-bold lh-1 mb-3 ">Your pace, your time</h1>
        <p class="lead">With <strong>MeowLearn</strong>, you can study according to your needs.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button id="HeroRegisterButton" class="btn btn-outline-warning hero-register-button btn-lg px-4 me-md-2">Register</button>
        </div>
      </div>
    </div>
  </div>